# ignore everything - /* is new in comparison to just *
/*

# include git files
!.gitignore

# include chocolatey files
!dependencies.config

# include github files
!/.github

# include documentation
!README.md

# include build files
!pom.xml

# include source files
!/src
